.benefits-section {
  position: relative;

  @include tablets {
    height: rem(1000px);
  }

  &:before {
    content: url("../../img/img2/Vector\ 2.svg");
    position: absolute;
    bottom: rem(-24px);
    left: 5%;
  }
}