.button {
  background: #E01F3D;
  color: #fff;
  font-size: rem(16px);
  font-weight: 700;
  text-transform: uppercase;
  padding: rem(18px) rem(41px);
  border-radius: rem(100px);
  border: rem(1px) solid transparent;
  line-height: 1;
  cursor: pointer;
  transition: .4s;

  @include tablets {
    padding: rem(21px) rem(41px);
  }

  &:hover {
    background: #fff;
    color: $black;
    border: rem(1px) solid $black;
  }

  &--hero--title {
    margin-left: rem(7px);
  }

  &--form {
    padding: rem(21px) rem(41px);

    @include tablets {
      margin-right: rem(14px);
    }
  }

  &--form--reset {
    background: transparent;
    text-transform: none;
    font-weight: 400;
    padding: rem(18px) rem(10px);
    transition: .4s;

    &:hover {
      color: #E01F3D;
    }
  }
}