.button {
  background: #E01F3D;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 41px;
  border-radius: 100px;
  border: 1px solid transparent;
  line-height: 1;
  cursor: pointer;
  transition: .4s;

  &:hover {
    background: #fff;
    color: $black;
    border: 1px solid $black;
  }

  &--form {
    padding: 21px 41px;
  }

  &--form--reset {
    background: transparent;
    text-transform: none;
    font-weight: 400;
    padding: 18px 10px;
    transition: .4s;

    &:hover {
      color: #E01F3D;
    }
  }
}