.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 10px;
  &--comments {
    margin-bottom: 33px;
  }
}

.form__block {
  flex: 1;
  margin-right: 13px;
  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  padding: 18px 11px;
  border: solid 3px transparent;
  border-radius: 5px;

  &--textarea {
    height: 152px;
    width: 450px;
    resize: none;
  }

  &:focus {
    border-color: #E01F3D;
    outline: none;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 18px;

  &--checkbox {
    margin-bottom: 0;
    margin-left: -2px;
    margin-bottom: 45px;
  }
}

.form__buttons {
  margin-left: -12px;
}
