.form {
  display: flex;
  
  @include tablets {
    flex-direction: column;
    padding: 0 18% 0 17%;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(22px);
  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0%;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(11px);
  &--comments {
    margin-bottom: rem(33px);
    margin-left: rem(7px);
  }
  &:last-child {
    margin-bottom: 0;
  }

  @include tablets {
    &:last-child {
      margin-bottom: rem(11px);
    }
    &--comments {
      margin-bottom: rem(11px);
      margin-left: 0;
    }
  }

  @include phones {
    &:last-child {
      margin-bottom: rem(9px);
    }
    &--comments {
      margin-bottom: rem(16px);
    }
  }
}

.form__block {
  flex: 1;
  margin-right: rem(13px);
  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  padding: rem(18px) rem(11px);
  border: solid rem(3px) transparent;
  border-radius: rem(5px);

  @include tablets {
      height: rem(36px);
    }

  &--textarea {
    height: rem(152px);
    width: rem(450px);
    resize: none;
  }

  &:focus {
    border-color: #E01F3D;
    outline: none;
  }

  @include tablets {
    &--textarea {
      height: rem(82px);
      width: 100%;
      resize: none;
    }
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(18px);
  margin-left: rem(9px);

  &--checkbox {
    margin-left: rem(8px);
    margin-bottom: rem(45px);
  }

  @include tablets {
    margin-bottom: rem(24px);
    margin-left: rem(4px);

    &--checkbox {
      margin-left: 0;
      margin-bottom: rem(36px);
    }
  }

  @include phones {
    justify-content: center;
    margin-left: rem(-4px);

    &--checkbox {
      margin-left: rem(8px);
    }
  }
} 

.form__buttons {
  margin-left: rem(-3px);

  @include tablets {
    display: flex;
    justify-content: center;
    margin-left: rem(24px);
  }

  @include phones {
    margin-left: rem(19px);
  }
}
