.hamburger {
  width: 26px;
  height: 24px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  margin-right: rem(19px);
  margin-top: rem(6px);
  cursor: pointer;

  @include tablets {
    display: inline-flex;
  }

  @include phones {
    margin-right: rem(-4px);
  }
}

.hamburger__plank {
  display: block;
  background: $black;
  height: 4px;
  border-radius: 10px;
}