.headline {
  text-align: center;

  @include tablets {
    margin-top: rem(132px);
  }
}

.headline__title {
  margin-bottom: rem(9px);

  @include tablets {
    font-size: rem(32px);
    margin-bottom: rem(3px);
  }
}

.headline__info {
  padding: 0 22%;
  margin-bottom: rem(55px);

  @include tablets {
    font-size: rem(16px);
    padding: 0 9%;
    margin-bottom: rem(41px);
  }

  @include phones {
    padding: 0;
  }
}