.radio {
  display: flex;
  cursor: pointer;
  user-select: none;

  &--first {
    margin-right: rem(17px);

    @include phones {
      margin-right: rem(14px);
      margin-left: rem(-7px);
    }
  }

  &--checkbox {
    .radio__visible {
      border-radius: rem(5px);
      &:before {
        background: url("../../img/img4/checkmark.svg") center center no-repeat;
        width: rem(14px);
        height: rem(14px);
      }
    }
  }
}

.radio__elem {
  display: none;
  &:checked ~ .radio__visible {
    &:before {
      display: block;
    }
  }
}

.radio__visible {
  width: rem(25px);
  height: rem(25px);
  position: relative;
  border-radius: 50%;
  background: #fff;
  &:before {
    content: "";
    width: rem(13px);
    height: rem(13px);
    background: #E01F3D;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.radio__title {
  margin-top: rem(3px);
  margin-left: rem(9px);

  &--checkbox {
    margin-top: rem(2px);
    margin-left: rem(11px);
  }
}