.reviews-section {
  position: relative;
  border-top: rem(1px) solid black;

  @include tablets {
    height: rem(1000px);
  }

  &:before {
    content: url("../../img/img3/Ellipse\ 7.svg");
    position: absolute;
    bottom: rem(-25px);
    left: 15%;
  }
}