.reviews__display {
  background: #f8faf9;
  padding: rem(36px) rem(39px) rem(39px);
  margin-bottom: rem(15px);
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: rem(90px);
    height: rem(90px);
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-70px);
    
    @include tablets {
      top: rem(-54px);
    }

    @include phones {
        display: none;
      }
  }
}

.reviews__display-inner {
  display: flex;

  @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.reviews__avatar {
  width: rem(254px);
  height: rem(264px);
  margin-top: rem(6px);

  @include tablets {
    width: rem(130px);
    height: rem(130px);
    margin-top: rem(22px);
  }

  @include phones {
    margin-top: rem(19px);
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: rem(37px);
  margin-top: rem(35px);

  @include tablets {
    margin-left: rem(-9px);
    margin-top: rem(28px);
  }

  @include phones {
    margin-top: rem(18px);
  }
}

.reviews__title {
  font-size: rem(24px);  
  font-weight: 700;
  margin-bottom: rem(22px);
  color: $black;

  @include tablets {
    margin-bottom: rem(11px);
  }

  @include phones {
    margin-bottom: rem(8px);
  }
}

.reviews__text {
  margin-bottom: rem(43px);
  margin-left: rem(2px);

  @include tablets {
    margin-bottom: rem(24px);
  }

  @include phones {
    margin-bottom: rem(31px);
  }
}

.reviews__user {
  font-size: rem(18px);
  font-weight: 700;
  color: $black;
  margin-left: rem(2px);

  @include tablets {
    margin-left: rem(8px);
  }
}