.reviews__switcher {
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablets {
    margin-top: rem(32px);
    margin-left: rem(6px);
  }

  @include phones {
    margin-top: rem(37px);
    margin-left: rem(11px);
  }
}