.reviews-section {
  position: relative;
  border-top: 1px solid black;

  &:before {
    content: url("../../img/img3/Ellipse\ 7.svg");
    position: absolute;
    bottom: -25px;
    left: 15%;
  }
}