.section {
  height: 100vh;
  min-height: 652px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
  margin-bottom: 24px;
  margin-top: -44px;
  text-align: center;

  &--white {
    color: #fff;
    margin-top: 0;
    margin-bottom: 50px;
  }
}